
<%= form_for(:session, url: sessions_path,:html=>{:class=>'form-signin'})  do |f|%>
<h2 class="form-signin-heading">Please Sign in</h2>
  <div id="error_notice"><%= notice %><p id="close_notice">x</p></div>		
  <div class="field"> 
    <%= f.text_field :email, :class => "input-block-level",:placeholder=>"Email address"%>
  </div>
  <div class="field">   
    <%= f.password_field :password, :class => "input-block-level",:placeholder=>"Password"%>

  </div>
 
  <div class="actions">
    <%= f.submit 'Sign In',:class=>"btn btn-large btn-primary"%>
  </div>
<% end %>

