
<%= form_for(@user, :html =>{ :class=> "form-signin"}) do |f|%>
<h2 class="form-signin-heading">Sign up</h2>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <%= f.text_field :email, :class => "input-block-level",:placeholder=>"Email address"%>
  </div>
  <div class="field">   
    <%= f.password_field :password, :class => "input-block-level",:placeholder=>"Password"%>

  </div>
 <div class="field"> 
      <%= f.password_field :password_confirmation, :class => "input-block-level",:placeholder=>"Confirm Password" %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign Up',:class=>"btn btn-large btn-primary"%>
  </div>
<% end %>

