<%= form_for(@product,:html =>{ :class=> "form-signin"}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name ,:class => "input-block-level",:placeholder=>"Name"%>
  </div>
  <div class="field">
    <%= f.text_field :version , :class => "input-block-level",:placeholder=>"Version"%>
  </div>
  <div class="field">
    <%= f.text_field :release_date, :class => "input-block-level",:placeholder=>"Release date" %>
  </div>
  <div class="actions">
    <%= f.submit 'Register',:class=>"btn btn-large btn-primary" %>
  </div>
<% end %>
