<% unless @searched_emails.nil?%>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
  	<th>Product Name</th>
    <th>License key</th>
    <th>Calculated key</th>
    <th>Email</th>
    <th>Machine id</th>
    <th>Expiry date</th>
    <!-- <th>Reset counter</th>-->
    <th>Allow regeneration</th>
    <th>Is assigned</th>
    <th>Is created</th>
    <th>Is deleted</th>
    <!-- <th>Created by</th>
    <th>Updated by</th>-->
    <th>Action</th>
    
  </tr>
	
	<% searched_email = @searched_emails%>
  <tr>
  	<td><%= searched_email.product.name%></td>
    <td><%= searched_email.license_key %></td>
    <td><%= searched_email.calculated_key %></td>
    <td><%= searched_email.email %></td>
    <td><%= searched_email.machine_id %></td>
    <td><%= searched_email.expiry_date %></td>
    <!-- <td><%= searched_email.reset_counter %></td>-->
    <td><%=searched_email.allow_regeneration %></td>
    <td><%= searched_email.is_assigned %></td>
    <td><%= searched_email.is_created %></td>
    <td><%= searched_email.is_deleted %></td>
    <!-- <td><%= searched_email.created_by %></td>
    <td><%= searched_email.updated_by %></td>  --> 
    <td ><a style="color: blue" href="#" id="re_gen_id" license_id="<%= searched_email.id %>">Allow</a></td>  
  </tr>
  </table>

<%else%>
	<p> No key found for this email</p>
<%end%>
