<h2>All products</h2>
<div id="outer_block" class="alert " style="display: none"></div><br />
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Release date</th>
    <th>Action</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.version %></td>
    <td><%= product.release_date %></td>
    <td><a href="#" id="licenses_gen" product_id=<%=product.id%>>Genrate Licenses</a></td>

  </tr>
<% end %>
</table>

<br />

<a href="/products/new" class="btn btn-large btn-primary">Add New Product</a>
<%=render :partial => "product_model_box"%>


