<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="#">License Management</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active">
						<a href="/users/<%= current_user.id%>">Home</a>
					</li>
					<li class="dropdown">
						<a href="/product_licenses" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="/products">Products</a>
							</li>
							<li>
								<a href="/product_licenses">Product Licenses</a>
							</li>
						</ul>
					</li>					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a id="date_range" href="#"> Date Range License</a>
							</li>
							<li>
								<%= link_to "Regeneration Reports", {:controller=>"/product_licenses", :action=>"regeneration_report_html"}%>
							</li>
							<li>
								<a id="product_license" href="#"> Product License</a>
							</li>
							<li>
								<%= link_to "Unassigned License", {:controller=>"/product_licenses", :action=>"unassigned_report_html"}%>
							</li>
							<li>
								<%= link_to "Deleted License", {:controller=>"/product_licenses", :action=>"deleted_key_report_html"}%>
							</li>
							<!-- <li class="divider"></li>
							<li class="nav-header">Nav header</li> -->
						</ul>
					</li>
					<% if signed_in? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email%> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to "Sign out", signout_path, method: "delete"%>
							</li>
							<li>
								<a href="/users/change_password">Change Password</a>
							</li>
							<% if current_user.admin?%>
							<li>
								<a href="/users">Delete User</a>
							</li>
							<li>
								<a href="/products/reset_requests">Allow Key Regeneration</a>
							</li>
							<li>
								<a href="#">Delete Key</a>
							</li>
								
							<%end%>
						</ul>
					</li>
					<%else%>
					<li>
						<a href="/sessions/new">Sign In</a>
					</li>
					<%end%>
					<%if current_user.admin?%>
					<li>
						<%= link_to  "Add New User", signup_path%>
					</li>
					<%end%>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<%= render 'layouts/modal_box'%> 