<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 >Date Range</h3>
	</div>
	<%=form_for :product_licenses, :url=>{:controller=>"product_licenses",:action=>"product_license_report"},:html=>{ :id=>"date_submit"} do |form|%>
	<div class="modal-body" >
		<div class="alert alert-error" id="alert" style="display: none">
			<strong>Oh snap!</strong>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th> Start date
					<%= text_field :start_date,:field,:id=>"date-start", :placeholder=>"dd/mm/yyyy"%>
					<%= text_field :end_date,:field,:id=>"date-end", :placeholder=>"dd/mm/yyyy"%>
				</tr>
			</thead>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<%= form.submit "submit", :class=>"btn btn-primary"%>
	</div>
	<%end%>
</div>
<div id="product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 >Products </h3>
	</div>
	<%=form_for :product_licenses, :url=>{:controller=>"product_licenses",:action=>"product_license_report_html"},:html=>{ :id=>"product_submit"} do |form|%>
	<div class="modal-body" >
		<div class="alert alert-error" id="product_alert" style="display: none">
			<strong>Oh snap!</strong>
		</div>
		<div>
			<h2>Select Product</h2> <%= select :product_license,:name , Product.all.map {|p| [p.name,p.id]},:prompt => "Select" %>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<%= form.submit "submit", :class=>"btn btn-primary"%>
	</div>
	<%end%>
</div>
<div id="delete_product_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3>Delete Product </h3>
	</div>
	<div style="height: 200px;" id="products_div">
		<br />
		<h4 style="text-align: center;">You are about to Delete a Product. Are you sure.........</h4>
		<br />
		<br />
		<input style="margin-right: 50px; margin-left: 190px;" type="button" id="delete_selected_product" value="Delete" class="btn" data-dismiss="modal" aria-hidden="true" />
		<input type="button"  value="cancel" class=" btn" data-dismiss="modal" aria-hidden="true"/>
	</div>
</div>
<div id="delete_user_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3>Delete User </h3>
	</div>
	<div style="height: 200px;">
		<br />
		<h4 style="text-align: center;">You are about to Delete a user. Are you sure.........</h4>
		<br />
		<br />
		<input style="margin-right: 50px; margin-left: 190px;" type="button" id="delete_selected_user" value="Delete" class="btn" />
		<input type="button"  value="cancel" class=" btn" data-dismiss="modal" aria-hidden="true"/>
		<input type="hidden" id="user_id1" />
	</div>
</div>
